.main_cart {
    max-width: 820px;
    width: 100%;
    margin: 90px auto;
}

.content_items {
    border-top: 1px solid #f6f6f6;
    padding-top: 30px;
    margin-top: 40px;
    width: 100%;
    position: relative;
}

.main_cart .car_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_cart .car_top span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main_cart .car_top span .icon_cart {
    font-size: 24px;
}

.main_cart .car_top .clear {
    cursor: pointer;
    color: #0000005b;
    transition: 0.3s ease;
    user-select: none;
}

.main_cart .car_top .clear:hover {
    color: #000;
}

.main_cart .car_top .clear:active {
    transform: translateY(1px);
}

.main_cart .content_items {
    display: flex;
    align-items: center;
}

.main_cart .content_items .cart_item_img {
    width: 10%;
}

.main_cart .content_items .cart_item_info {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.main_cart .content_items .cart_item_info p {
    color: #00000095;
}

.main_cart .content_items .btn {
    border: 1px solid #000000;
    display: grid;
    place-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease;
    user-select: none;
}

.main_cart .content_items b {
    padding: 0px 20px;
}

.main_cart .content_items .btn:hover {
    background: #000;
}

.main_cart .content_items .btn:active {
    transform: translateY(1px);
}

.main_cart .content_items .btn:hover svg {
    fill: #fff;
}

.main_cart .content_items .cart_item_price {
    width: 33%;
    margin: 0 auto;
    text-align: center;
}

.main_cart .content_items .cart_item_remove .degs {
    transform: rotate(45deg);
}

.main_cart .cart_bottom {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}

.main_cart .cart_bottom .cart_bottom_deteils {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_cart .cart_bottom .cart_bottom_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
